[submodule "src/external/mruby"]
	path = src/external/mruby
	url = https://github.com/mruby/mruby.git
[submodule "src/external/libfyaml"]
	path = src/external/libfyaml
	url = https://github.com/pantoniou/libfyaml.git
[submodule "src/external/libatasmart"]
	path = src/external/libatasmart
	url = https://github.com/Rupan/libatasmart.git
[submodule "src/external/libhv"]
	path = src/external/libhv
	url = https://github.com/ithewei/libhv.git
[submodule "src/external/picohttpparser"]
	path = src/external/picohttpparser
	url = https://github.com/h2o/picohttpparser.git
[submodule "src/external/mbedtls"]
	path = src/external/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
